@model RetailBay.WebShop.Models.Checkout.IndexViewModel

@{
    ViewData["Title"] = "Shipping Address";
    Layout = "_LayoutCheckout";
}

<div class="column is-7 container" style="padding-top:80px;">
   
    <div class="columns">
        <div class="column is-4"></div>
        <div class="column">
            <h1 class="title is-3">Check out</h1>

            <div style="border: 1px solid #d4d4d4; border-radius:5px; padding-left: 20px; padding-right: 20px; padding-bottom:20px; margin-right:20px; margin-top:40px;">
                <div class="level" style="border-bottom:1px solid #d4d4d4; padding-top:20px; padding-bottom:20px;">
                    <div class="level-left">
                        <p class="level-item">Contact</p>
                        <p class="level-item" style="margin-left:30px;">mail@gmail.com</p>
                    </div>

                    <div class="level-right">
                        <a href="#" class="level-item">Change</a>
                    </div>
                </div>

                <div class="level" padding-top:10px; padding-bottom:10px;">
                    <div class="level-left">
                        <p class="level-item">Ship to</p>
                        <p class="level-item" style="margin-left:30px;">Street 123, 5000 City, Croatia</p>
                    </div>

                    <div class="level-right">
                        <a href="#" class="level-item">Change</a>
                    </div>
                </div>
            </div>

            <div style="border: 1px solid #d4d4d4; border-radius:5px; padding-left: 20px; padding-right: 20px; padding-bottom:20px; margin-right:20px; margin-top:40px;">
                <div class="level" style="border-bottom:1px solid #d4d4d4; padding-top:20px; padding-bottom:20px;">
                    <div class="level-left">
                        <div class="level-item field">
                            <input class="is-checkradio" id="radioNormalShipping" type="radio" name="exampleRadioInline" checked="checked">
                            <label for="radioNormalShipping" style="margin:0; padding:0; padding-left:40px;">Normal Shipping</label>
                        </div>
                    </div>

                    <div class="level-right">
                        <p class="level-item title is-6">$20.00</p>
                    </div>
                </div>
                <div class="level" padding-top:10px; padding-bottom:10px;">
                    <div class="level-left">
                        <div class="level-item field">
                            <input class="is-checkradio" id="radioInternationalShipping" type="radio" name="exampleRadioInline" checked="checked" >
                            <label for="radioInternationalShipping" style="margin:0; padding:0; padding-left:40px;"">International Shipping</label>
                        </div>
                    </div>

                    <div class="level-right">
                        <p class="level-item title is-6">$20.00</p>
                    </div>
                </div>

            </div>

        </div>
        
    </div>
</div>

<div class="column is-5" style="border-left:solid 1px #d4d4d4; background-color:#fafafa; padding-top:80px; padding-left:40px;">
    @foreach (var item in Model.CartItems)
    {
        <div class="level" style="padding-bottom:1.5rem; border-bottom:1px solid #d4d4d4; width:70%;">
            <div class="level-left" style="width:4.6em; height: 4.6em;">
                <img src="https://cdn.shopify.com/s/files/1/0037/5472/products/SGT-1155B_01_100x100.jpg?v=1509388434" style="border: 1px solid #d4d4d4; border-radius: 10px;" />
                <h6 class="level-item title is-6" style="margin-left:40px;">@item.Name</h6>
            </div>

            <div class="level-left" style="margin-left:20px;">
                <h6 class="level-item title is-6">$@item.Price.ToString("###,###.##")</h6>
            </div>
        </div>
    }
    
    <div class="level" style="padding-bottom:1.5rem; border-bottom:1px solid #d4d4d4; width:70%;">
        <input type="text"
               class="input column is-four-fifths"
               style=" font-size:1.25rem;"
               placeholder="Gift Card" />
        <button class="button column is-medium"
                style="border-radius: 0; border:0; background-color: #333; color: white; padding: 9px 15px;">
            Apply
        </button>
    </div>

    <div class="level" style="width:70%;">
        <div class="level-left">
            <h6 class="level-item title is-6">Subtotal</h6>
        </div>

        <div class="level-left">
            <h6 class="level-item title is-6">$@Model.CartItems.Sum(p => p.Price).ToString("###,###.##")</h6>
        </div>
    </div>

    <div class="level" style="width:70%; padding-bottom:1.5rem; border-bottom:1px solid #d4d4d4;">
        <div class="level-left">
            <h6 class="level-item title is-6">Shipping</h6>
        </div>

        <div class="level-left">
            <h6 class="level-item title is-6">$@Model.ShippingPrice.ToString("###,###.##")</h6>
        </div>
    </div>

    <div class="level" style="width:70%;">
        <div class="level-left">
            <h6 class="level-item title is-6">Total</h6>
        </div>

        <div class="level-left">
            <h6 class="level-item title is-4">$@((Model.CartItems.Sum(p => p.Price) + Model.ShippingPrice).ToString("###,###.##"))</h6>
        </div>
    </div>

</div>


@*<form asp-action="ConfirmOrder" asp-controller="Checkout" method="post" class="form-horizontal">

    @foreach (var address in Model.ShippingAddresses)
    {
        var formatedName = $"{address.ContactName}, {address.StreetAddress}, {address.PostalCode} {address.City}";
        <div>
            <input asp-for="SelectedAddressId" type="radio" value="@address.Id" id="@address.Id" />
            <label for="@address.Id">@formatedName</label>
        </div>
    }

    <br />
    <a asp-action="NewAddress" asp-controller="Checkout" class="btn btn-primary btn-md">New Address</a>

    <br />
    <br />

    <button class="btn btn-primary btn-lg">Confirm Order</button>
</form>*@