@model ProductsViewModel
@using RetailBay.WebAdministration.TagHelpers

@{
    ViewData["Title"] = "Products"; 
}

<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h2>Products</h2>
        </div>
        <div class="col-md-4 text-right">
            <a asp-area="Catalog" asp-controller="Products" asp-action="Create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create Product</a>
        </div>
    </div>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <td>Name</td>
            <td>Price</td>
            <td>Published</td>
            <td>Created On</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.IsPublished</td>
                <td>@product.DateCreated.ToString()</td>
                <td>
                    <a href="#">Edit</a> /
                    <form asp-action="Delete" asp-controller="Products" asp-route-id="@product.Id" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<paging page-count="@Model.Products.PageCount" page-number="@Model.Products.PageNumber"></paging>